<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
  {{> header}}
    <p>Some text here</p>
    <p>Name : {{name}}</p>
    <p>Likes : {{likes}}</p>
    <p>Interests : {{interests}}</p>
  {{> footer}}
  </body>
</html>
